[build-system]
requires = ["setuptools>=61.0", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "cmipld"
dynamic = ["version"]  # Let setuptools_scm handle versioning
authors = [
  { name="Daniel Ellis" }
]
description = "A tool for managing CMIP Linked Data"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "requests",
    "pyld",
    "jmespath",
    "pydantic",
    "p_tqdm",
    "rich" 
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/WCRP-CMIP/CMIP-LD"
Issues = "https://github.com/WCRP-CMIP/CMIP-LD/issues"
Documentation = "https://wiki.mipcvs.dev"
Notebooks = 'https://colab.research.google.com/github/WCRP-CMIP/CMIP-LD/blob/main/notebooks/intro.ipynb'

[project.scripts]
cmipld = "cmipld.browse.__main__:main"
update_ctx = "cmipld.generate.update_ctx:main"
update_all = "cmipld.generate.update_all:main"
new_issue = "cmipld.generate.new_issue:main"
generate_summary = "cmipld.generate.generate_summary:main"
update_readme = "cmipld.generate.create_readme:main"

[tool.setuptools]
packages = ["cmipld"]
include-package-data = true

#[tool.setuptools.packages.find]
#where = [".."]


[tool.setuptools.package-data]
cmipld = ["scripts/*/*"
          ]

[tool.setuptools.data-files]
"bin" = [
    "scripts/directory-utilities/dev",
    "scripts/directory-utilities/validjsonld",
    "scripts/directory-utilities/ld2graph",
    "scripts/jsonld-util/rmbak",
    "scripts/jsonld-util/rmgraph",
    "scripts/development/coauthor_file"
]

[tool.setuptools_scm]
write_to = "cmipld/version.py"