# {{ project_name }}

!!! tip "Documentation in progress"
    The contents of the pages are currently in development and will change.

{{ description }}

## Quick Links

| Resource | Link |
|----------|------|
| Repository | [{{ repo_url }}]({{ repo_url }}) |
| Documentation | [{{ site_url }}]({{ site_url }}) |

## Development

This content is hosted using GitHub Pages and MkDocs. Changes can be made through pull requests to [this repository]({{ repo_url }}).
