{% if enable_build_docs -%}
name: Build Documentation

on:
  workflow_run:
    workflows: ["Update JSONLD"]
    types:
      - completed
    
  workflow_dispatch:
    inputs:
      force_deploy:
        description: 'Force deployment even if no changes detected'
        required: false
        default: false
        type: boolean

jobs:
  build-docs:
    {% raw %}if: ${{ github.event.workflow_run.conclusion == 'success' }}{% endraw %}
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Deploy MkDocs documentation
        uses: {{ github_username }}/CMIPLD/actions/mkdocs@main
        with:
          {% raw %}source_branch: ${{ github.ref_name }}{% endraw %}
          target_branch: {{ build_target_branch }}
          config_file: '.src/mkdocs/mkdocs.yml'
          docs_dir: 'docs'
{% endif -%}
