{% if enable_build_docs -%}
name: Build Documentation

on:
  push:
    branches: [ {{ build_trigger_branch }} ]
    paths:
      - 'src-data/**'
      - 'docs/**'
  workflow_dispatch:
    inputs:
      force_deploy:
        description: 'Force deployment even if no changes detected'
        required: false
        default: false
        type: boolean
jobs:
  build-docs:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Deploy Documentation
        uses: {{ github_username }}/CMIPLD/actions/build-docs@main
        with:
          source_branch: {{ build_trigger_branch }}
          target_branch: {{ build_target_branch }}
          config_file: '.src/mkdocs/mkdocs.yml'
          docs_dir: 'docs'
          {% raw %}force_deploy: ${{ github.event.inputs.force_deploy || 'false' }}{% endraw %}
{% endif -%}
