{% if enable_jsonld_workflows -%}
name: Update JSONLD

on: 
  push:
    branches-ignore:
      - {{ build_target_branch }}
    paths:
      - 'src-data/**'

jobs:
  update-jsonld:
    runs-on: ubuntu-latest
    
    steps:
    - name: Install CMIP-LD
      uses: {{ github_username }}/CMIPLD/actions/cmipld@main

    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Get updated directories
      id: updated-dirs
      uses: {{ github_username }}/CMIPLD/actions/updated-dirs@main
      with:
        filter_dir: "src-data"

    - name: Process JSON-LD files
      uses: {{ github_username }}/CMIPLD/actions/process_jsonld@main
      with:
        {% raw %}dirs: ${{ env.updated_dirs }}{% endraw %}

    - name: Commit changes
      uses: {{ github_username }}/CMIPLD/actions/commit-all@main
      with:
        message: "Automated JSON-LD update"

    - name: Create pull request
      uses: {{ github_username }}/CMIPLD/actions/pushpr@main
      with:
        message: "Automated JSON-LD update"
        {% raw %}token: ${{ secrets.GITHUB_TOKEN }}{% endraw %}

    - name: Publish to pages
      if: github.ref_name == 'main'
      uses: {{ github_username }}/CMIPLD/actions/publish2pages@main
      with:
        {% raw %}api_key: ${{ secrets.API_KEY }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch_name: ${{ github.ref_name }}{% endraw %}
{% endif -%}
